@font-face {
    font-family: 'CustomFont bold';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  
  
  
  
  body {
    font-family: 'CustomFont', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 18px;
  }
  
  h1 {
    font-family: 'CustomFont bold';
    margin-block-start: 0;
    font-size: 32px;
    text-align: center;
  }
  
  h2 {
    font-family: 'CustomFont bold';
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0;
  }
  
  h3 {
  
    font-size: 20px;
    color: #000000;
    text-align: center;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-box{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  }
  
  header img {
    height: 80px;
   
  }
  
  .menubar {
    height: 90px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    gap: 14px;
  }
  
a{ 
  word-wrap: break-word;

}
.menubar a {
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
}

.menubar a:hover {
    font-weight: bold;
    color: #008000;
    padding-bottom: 15px;
    border-bottom: 4px solid #008000;
    transition: 0.5s;
}
.rezept-des-tages {
    color: #008000;
    border-bottom: 3px solid #008000;
}

/* Burger menu */
.burger-menu {
    margin-right: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.burger-menu .bar {
    margin-right: 80px;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 3s;
}

.overallBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.overallBox {
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contact-formular {
    background: #DCDCDC;
    
    border-radius: 10px;
    
}





footer {

  background-color: rgb(64, 59, 59);
  padding: 80px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer-box{
  width: 1400px;
display: flex;
justify-content: flex-end;
gap: 32px;

}
  
  .social-media-footer-icon {
    width: 64px;
    height: 64px;
  }

  @media (max-width: 1200px) {
    body {
      font-size: 16px;
    }
}

/* Responsive */
@media (max-width: 1085px) {
  .menubar {
      display: none;
      width: 100%;
      position: absolute;
      flex-direction: row;
      align-items: center;
      top: 100%;
      left: 0;
      background-color: #FFFFFF;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .menubar a {
      margin: 0 15px;
      text-decoration: none;
      color: #000;
      padding-right: 20px;
      padding-bottom: 10px;
  }
  
  .menubar a:hover {
      background-color: #008000;
      color: #efefef;
      padding: 10px;
      border-bottom: 0;
      border-radius: 10px;
      transition: 1s;
  }
  .menubar.active {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
  
  @media (max-width: 800px) {

    .contact-formular {
      background: #DCDCDC;
      padding: 10px;
      border-radius: 10px;
      
      
  }
    .social-media-footer-icon {
      width: 48px;
      height: 48px;
    }
  
    footer {
      gap: 20px;
      padding: 70px 50px;
    }

    .social-media-footer-icon{
      width: 44;
      height: auto;
    }
    
  body {
    font-size: 14px;
}

h1 {

font-size: 28px;
}

h2 {
font-size: 20px;
}

h3 {

font-size: 16px;


}

a{ 
  word-wrap: break-word;

}

  }
  

  @media (max-width: 660px) {
    header img {
        height: 60px;
       
    }
  
    .menubar {
        flex-direction: column;
        height: 220px;
    }
    .menubar a {
        margin-bottom: 20px;
        padding-right: 0px;
       padding-bottom: 0px;
    }
    .menubar a:hover {
        background-color: #008000;
        color: #efefef;
        border-radius: 10px;
    }
    .overallBox2 {
      width: auto;
    }
  }
  @media (max-width: 400px) {
    .social-media-footer-icon {
      width: 32px;
      height: 32px;
    }
  
    footer {
      gap: 12px;
      padding: 50px 32px;
    }
    body {
      font-size: 12px;
  }
  
  h1 {
  
  font-size: 20px;
  }
  
  h2 {
  font-size: 16px;
  }
  
  h3 {
  
  font-size: 14px;
  
  
  }

  .matrix-container {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .burger-menu {
    margin-right: 20px;
}

header img {
    margin-left: 20px;
    height: 60px;
}

.contact-formular{
  margin: 0;
  padding: 5px;

}

.overallBox {
  width: 100%;
  display: block;
}

.overallBox2{
  display: block;
  margin-top: 100px;
}

.footer-box {
  justify-content: center;
 }
  }
  








